@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    /* width: 100vw; */
}

.hide-x-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}
body {
    background: black;
    /* width: 100vw; */
    margin: 0;
    padding: 0;
}